<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Reviews:</strong>
  <% @average = 0 %>
  <% @restaurant.reviews.each do |review| %>
    <p><%= "#{review.content} Rating: #{review.rating}" %></p>
    <% @average += review.rating.to_i %>
  <% end %>
  <p><%= @restaurant.reviews.length > 0 ? "Average rating: #{@average/@restaurant.reviews.length}" : "Average rating: 0" %></p>
</p

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
